body {
  background-color: #222;
}

.noPadding {
  padding: 0px;
}
.hidden {
  display: none;
}

#infoWrapper{
    overflow: auto;
    color: #f5f5f5;
}
#date-slider {
  width: 80%;
  margin: 12px auto;
}

#info-header {
  padding: 12px 12px 0 12px;
}
.scene-box {
  padding: 6px 8px;
  border: 2px solid #6d6e70;
  margin: 12px;
  border-radius: 4px;
}
.scene-box.highlightBorder {
  border-color: #e31a1c;
}

#info-sort-tools {
  padding: 0 12px;
}

.glyphicon-custom {
    position: static;
    cursor: pointer;
    font-size: 14px;
}

.text-key {
  color: #9f9fa3;
}
.text-value {
  color: #f5f5f5;
  font-weight: bold;
}
.text-links {
  color: #9f9fa3;
}
.clickable {
  cursor: pointer;
}

.scene-default {
  stroke: #ed1b2e;
  stroke-width: 1.5;
  fill: #f5f5f5;
  fill-opacity: 0.1;
  cursor: pointer;
}
.thickBorder {
  stroke-width: 3;
  fill: #222222;
  fill-opacity: 0.4;
}
/*#scenes-list {
  color: #f5f5f5;
}*/

#loading-wrapper{
    position:absolute;
    left:0;
    right:0;
    height:100%;
    text-align: center;
    z-index: 99999;
    background: rgba(0,0,0,0.6);
}
#loader{
    width: 150px;
    margin: 30px 0;
}
#loading-progress{
    margin:30px auto;
    width: 210px;
    border-radius: 4px;
    background: #222;
    text-align: center;
}

.btn-zoom {
  position: absolute;
  left: 47px;
  top: 10px;
  z-index: 1001;
  background-color: #ffffff;
  border-color: #d7d7d8;
  font-weight: bold;
  color: #464646;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}
.btn:focus, .btn:active {
  outline: 0 !important;
}